# Build Ergebnisse
bin/
obj/

# Visual Studio Dateien
.vs/
*.user
*.suo

# Visual Studio Code
.vscode/

# Backup- und Cache-Dateien
*.db
*.db-shm
*.db-wal
*.v2
*.bin
*.cache
*.log

# Paketverwaltung
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Build Output von Blazor WebAssembly
wwwroot/_framework/
wwwroot/_content/

# Rider/JetBrains
.idea/

# OS Dateien
Thumbs.db
.DS_Store

# Test coverage reports
coverage/
coverage.cobertura.xml
coverage.xml
*.coverage
*.coveragexml
TestResults/


# Lokale Konfigurationen / Geheimnisse
appsettings.Development.json
secrets.json

# Weitere IDE spezifische Dateien
*.userprefs    # MonoDevelop/Xamarin
*.sln.iml      # Rider
*.sln.docstates

# Publish-Output
publish/
dist/
